# Server Configuration
PORT=5000
JWT_SECRET=your_jwt_secret_signing_key_here

# Firebase Configuration
FIREBASE_DATABASE_URL=https://kecnotes-13af0-default-rtdb.asia-southeast1.firebasedatabase.app/
# Place your service-account.json in the project root folder.

# Google Authentication
GOOGLE_CLIENT_ID=654666286126-0p3r9scc72pg4hefme5hafg0haoth1ni.apps.googleusercontent.com

# PayPal Configuration (use sandbox credentials for testing)
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_SECRET=your_paypal_client_secret_here
PAYPAL_MODE=sandbox
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Fixed Admin Account Credentials
ADMIN_EMAIL=admin@rpsbookstore.com
ADMIN_PASSWORD=AdminPassWord123!
